<%- include('./../includes/top.ejs') %>
<%- include('./../includes/navbar.ejs') %>

<article class="section">
    <h2 class="section-title"><%= subTitle %></h2>
    <p class="section-subtitle"><%= description %></p>
    <div class="admin-data">
        <label class="label">Nazwa użytkownika</label>
        <span class="txt"><%= data.name %></span>
        <label class="label">E-mail/login użytkownika</label>
        <span class="txt"><%= data.email %></span>
        <div class="button-row">
            <a href="/admin/edit" class="btn remove">Zmień dane administratora strony</a>
        </div>
    </div>
</article>

<%- include('./../includes/bottom.ejs') %>