<%- include('./../includes/top.ejs') %>
<%- include('./../includes/navbar.ejs') %>

<article class="section">
    <h2 class="section-title"><%= subTitle %></h2>
    <p class="section-subtitle"><%= description %></p>
    <div>
    </div>

</article>

<%- include('./../includes/bottom.ejs') %>