<%- include('includes/top.ejs') %>

<%- include('includes/navbar.ejs') %>

<article class="section">
    <h2 class="section-title">Dodatowe ustawienia</h2>
    <p class="section-subtitle">Inne ustawienia używane w aplikacji</p>

    <%- include('includes/languages.ejs') %>

    <%- include('includes/content-types.ejs') %>

</article>

<%- include('includes/bottom.ejs') %>