<%- include('includes/top.ejs') %>

<%- include('includes/navbar.ejs') %>

<article class="section">
    <h2 class="section-title"><%= page.subTitle %></h2>
    <p class="section-subtitle"><%= page.description %></p>
    <button class="btn normal">Dodaj nowy element tekstowy</button>
    <table>
        <thead>
        <tr>
            <th>Nazwa</th>
            <th>Tytuł</th>
            <th>Tekst</th>
            <th>Operacje</th>
        </tr>
        </thead>
        <tbody>

        <tr>
            <td>To jest nazwa elementu</td>
            <td>To jest tytuł elementu</td>
            <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, at deserunt doloribus dolorum et
                exercitationem expedita facere illo illum impedit labore molestias natus non optio
                possimus quos sequi ullam unde.
            </td>
            <td>
                <button class="btn edit">Edytuj</button>
                <button class="btn remove">Usuń</button>
            </td>
        </tr>

        <tr>
            <td>To jest nazwa elementu</td>
            <td>To jest tytuł elementu</td>
            <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, at deserunt doloribus dolorum et
                exercitationem expedita facere illo illum impedit labore molestias natus non optio
                possimus quos sequi ullam unde.
            </td>
            <td>
                <button class="btn edit">Edytuj</button>
                <button class="btn remove">Usuń</button>
            </td>
        </tr>

        <tr>
            <td>To jest nazwa elementu</td>
            <td>To jest tytuł elementu</td>
            <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, at deserunt doloribus dolorum et
                exercitationem expedita facere illo illum impedit labore molestias natus non optio
                possimus quos sequi ullam unde.
            </td>
            <td>
                <button class="btn edit">Edytuj</button>
                <button class="btn remove">Usuń</button>
            </td>
        </tr>

        <tr>
            <td>To jest nazwa elementu</td>
            <td>To jest tytuł elementu</td>
            <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, at deserunt doloribus dolorum et
                exercitationem expedita facere illo illum impedit labore molestias natus non optio
                possimus quos sequi ullam unde.
            </td>
            <td>
                <button class="btn edit">Edytuj</button>
                <button class="btn remove">Usuń</button>
            </td>
        </tr>

        <tr>
            <td>To jest nazwa elementu</td>
            <td>To jest tytuł elementu</td>
            <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, at deserunt doloribus dolorum et
                exercitationem expedita facere illo illum impedit labore molestias natus non optio
                possimus quos sequi ullam unde.
            </td>
            <td>
                <button class="btn edit">Edytuj</button>
                <button class="btn remove">Usuń</button>
            </td>
        </tr>

        </tbody>
    </table>
</article>


<%- include('includes/bottom.ejs') %>