<%- include('./../includes/top.ejs') %>
<%- include('./../includes/navbar.ejs') %>

<article class="section">
    <h2 class="section-title"><%= subTitle %></h2>
    <p class="section-subtitle"><%= description %></p>

    <form class="form" action="<%= (data._id && data._id !== '')?'/html/edit/' + data._id:'/html/add-new' %>" method="post">
        <h3 class="element-title">Dodawanie/edycja fragmentu HTML</h3>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <input type="hidden" name="_id" value="<%= data._id %>">
        <label class="form-label">Opis</label>
        <input class="form-input" type="text" name="description" value="<%= data.description %>">
        <% if (errors && errors.description && errors.description != '') { %>
            <div class="form-error"><%= errors.description %></div>
        <% } %>
        <label class="form-label">Fragment HTML</label>
        <textarea class="form-input" cols="10" rows="10" name="html"><%= data.html %></textarea>
        <% if (errors && errors.html && errors.html != '') { %>
            <div class="form-error"><%= errors.html %></div>
        <% } %>

        <div class="button-row">
            <input class="btn remove" type="submit" value="Zapisz">
        </div>
    </form>


</article>

<%- include('./../includes/bottom.ejs') %>