<%- include('./../includes/top.ejs') %>

<%- include('./../includes/navbar.ejs') %>

<article class="section">
    <h2 class="section-title"><%= subTitle %></h2>
    <p class="section-subtitle"><%= description %></p>
    <div>
        <a href="/html/add-new" class="btn normal">Dodaj nowy fragment HTML</a>
    </div>

    <%- include('./html-elements-list.ejs') %>

</article>

<%- include('./../includes/bottom.ejs') %>