<%- include('./../includes/top.ejs') %>
<%- include('./../includes/navbar.ejs') %>

<article class="section">
    <h2 class="section-title"><%= subTitle %></h2>
    <p class="section-subtitle"><%= description %></p>

    <form class="form" action="/texts/add-new" method="post">
        <h3 class="element-title">Dodawanie/edycja tekstu</h3>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <label class="form-label">Opis</label>
        <input class="form-input" type="text" name="description">
        <label class="form-label">Tekst</label>
        <textarea class="form-input" cols="10" rows="10" name="text"></textarea>
        <div class="button-row">
            <input class="btn remove" type="submit" value="Zapisz" name="save">
        </div>
    </form>


</article>

<%- include('./../includes/bottom.ejs') %>